body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
}

form {
  border-radius: 12px;
}

h2 {
  font-weight: 600;
  color: #333;
}

button[type="submit"] {
  font-weight: 600;
  font-size: 1rem;
  padding: 12px;
  border-radius: 8px;
}

.btn-social {
  padding: 12px;
  font-weight: 500;
  border-radius: 8px;
  transition: background-color 0.2s, transform 0.1s;
}

.btn-social:hover {
  background-color: hsl(270, 17%, 98%);
  transform: translateY(-1px);
  color: #be1db6; 
}

